/* PlacePage.css */
.app_activity {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    margin: auto;
    width: 90%;
  }

  .Activity {
    align-content: flex-start;
    grid-column: 1;
    display: grid;
    grid-gap: 20px;
    overflow: auto;
    
  }
  
  .Accomodations {
    grid-column: 2;
    display: grid;
    overflow: auto;
    align-content: flex-start;
  }
  
  .Flights {
    grid-column: 3;
    display: grid;
    overflow: auto;
    align-content: flex-start;
  }
  
  .app {
    text-align:center
  }


.HomePlacePageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin: auto;
  }

  .ActivitySearchInput {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }

  .addButton {
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: auto;
    /*margin-left: 8px;*/
  }
  
  .welcome-container {
    text-align: center;
  }

  #h2 {
    padding-bottom: 0.5rem;
  }