/* TripPlanningPage.css */

.tripPage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pageHeader {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .addTripButton {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .popup label {
    margin-bottom: 8px;
  }
  
  .popup input,
  .popup button {
    margin-bottom: 16px;
    padding: 10px;
    font-size: 14px;
  }
  
  .popup button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  